*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  padding: 0;
  overflow-x: hidden;
  background: url('https://cdn.pixabay.com/photo/2016/11/29/08/58/astronomy-1868560_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -100;
}

header{
  width: 100%;
  background: transparent;
  backdrop-filter: blur(30px);
}

nav{
  padding: 20px 15px;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Lucida Sans';
  color: rgb(226, 222, 218);
}

#check{
  float: right;
  display: none;
}

.checkbtn{
  font-size: 27px;
  display: none;
  cursor: pointer;
}

.navbar{
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  text-decoration: none;
  color: rgb(255, 254, 254);
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 600;
}

.navbar li a:hover{
  border-bottom: 2px solid rgb(204, 203, 202);
}

.btn1{
  padding: 10px 15px;
  border: 0.1px solid gray;
  outline: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  background: rgb(56, 38, 77);
  transition: all 0.3s linear;
}

.btn1:hover{
  transform: scale(1.1);
  border: 1px solid rgb(14, 12, 12);
  box-shadow: 0px 0px 15px 4px rgb(73, 72, 71);
}

@media (max-width:600px){
  .checkbtn{
    display: block;
    color: rgb(209, 206, 203);
  }

  .navbar{
    display: block;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100%;
    text-align: center;
    right: -100%;
    background: rgb(23, 5, 37);
    backdrop-filter: blur(90px);
    transition: all 0.5s ease;
  }

  .navbar li{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0px;
    text-align: center;
  }

  .btn1{
    padding: 15px 0px;
    width: 50%;
  }

  #check:checked ~ .navbar{
    right: 0;
  }
}

main{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.9);
}

section h2{
  font-size: 33px;
  font-weight: 200;
  color: rgb(209, 206, 203);
}

.social{
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.social a{
  font-size: 30px;
  text-align: center;
  transition: all 0.3s linear;
  border: none;
  border-radius: 90px;
}

.social a:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 3px gray;
  background-color: rgb(105, 99, 99);
}

.fa-google{
  color: rgb(209, 206, 203);
}

.fa-linkedin{
  color: rgba(54, 57, 179, 0.979);
}

.fa-github{
  color: black;
  color: rgb(209, 206, 203);
  border-radius: 15px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: white;
}

input{
  padding: 9px 9px;
  outline: none;
  color: rgb(209, 206, 203);
  background: transparent;
  backdrop-filter: blur(90px);
  border: none;
  border-left: 1px solid rgb(112, 111, 111);
  border-bottom: 1px solid rgb(112, 111, 111);
  margin-bottom: 10px;
}

input:hover{
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.2s linear;
}

input:focus{
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.name{
  display: flex;
  gap: 10px;
}

span{
  width: 95%;
  display: block;
  margin-bottom: 10px;
  color: rgb(209, 206, 203);

}

.submit{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.btn2{
  padding: 8px 45px;
  cursor: pointer;
  background: transparent;
  backdrop-filter: blur(90px);
  color: rgb(209, 206, 203);
  border: 1px solid rgb(112, 111, 111);
  border-radius: 40px;
  transition: all 0.4s linear;
}

.btn2:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px gray;
}

form p{
  text-align: center;
  letter-spacing: 0.6px;
}

form p a {
  color: rgb(209, 206, 203);
  text-decoration: none;
  cursor: pointer;
}

form p a:hover{
  color: blue;
}

@media (max-width: 600px){
  section{
    width: fit-content;
  }
  form{
    width: 90%;
  }
  .name{
    display: flex;
    flex-direction: column;
  }
  #term{
    background: transparent;
    backdrop-filter: blur(30px);
    color: rgb(209, 206, 203);
  }
  .btn2:hover{
    transform: scale(0.9);
  }
}
